#container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th, td {
    border: 1px solid black;
    padding: 2px;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}
input {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}